
section.devices-list {
  flex-grow: 1;
  border-radius: 15px;
  border: 3px solid var(--color-1);
  padding: 10px 20px;
}

button.refresh {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-2);
  color: white;
  font-weight: 700;
  cursor: pointer;
}

button.refresh:hover {
  filter: brightness(1.1);
}

button.refresh:active {
  filter: brightness(0.9);
}

device-item.device {
  padding: 20px 5px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  gap: 20px;
}

.device-name {
  flex-grow: 1;
}

device-item.device:not(:last-child) {
  border-bottom: 2px solid var(--color-3);
}

button.device-connect {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-4);
  color: white;
  font-weight: 700;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button.device-connect:hover {
  filter: brightness(1.1);
}

button.device-connect:active {
  filter: brightness(0.9);
}

device-item.device[disabled] > button.device-connect {
  filter: brightness(0.8) grayscale(1);
  cursor: default;
}

device-item[loading] > .loader {
  display: block;
}